<h1>All Artists</h1>

<% @artists.each do |artist| %>
<ul>
  <li>  <h2> <%= link_to artist.name, artist_path(artist.id)%> </h2></li>
  <li><%= image_tag artist.image_path %></li>
</ul>
<% end %>

<%= link_to "New Artist", new_artist_path  %>
